---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2ee237d69bfeaf960cdd33478bf75692
      X-Oauth-Scopes:
      - users:read,channels:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-9rc7,haproxy-edge-pdx-jlix
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BKP7MWNB","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601939539,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01BKP7MGVD","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C6M7N136"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01BKP7MGVD","last_set":1601939539},"previous_names":[],"num_members":2},{"id":"C01BKP8MF2T","name":"ada-c14-slack-cli-project","is_channel":true,"is_group":false,"is_im":false,"created":1601939581,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"ada-c14-slack-cli-project","is_shared":false,"parent_conversation":null,"creator":"U01BKP7MGVD","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C6M7N136"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim[...]
[...]
